{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  {% if user.is_authenticated %}
    <h1 class="display-4"><i Using STYLE="text-transform:uppercase">{{user}}, hello!</i> </h1>
  	<p class="lead">{{title}}</p>
  {% else %}
  	<h1 class="display-4">Hello new user!</h1>
  	<p class="lead">To use all of the features of this app log in or sigh up, please. <i> (i'll add links for log in and sign up)</i></p>
  {% endif %}
  <hr class="my-4">
  <p>Use navigation bar to find a lot of interesting things here. 
Search by artist name, code of song or year using search field.</p>
</div>
{% endblock %}