<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="/">Juceer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/juceer/artist/">Music</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/juceer/artist/">Artist in alphabet order</a>
          <a class="dropdown-item" href="/juceer/artist/genre/">Artist by genre</a>
          <a class="dropdown-item" href="/juceer/artist/popularity/25">Artist by popularity</a>
          <a class="dropdown-item" href="/juceer/song/popularity">Song by popularity</a>
          <a class="dropdown-item" href="/juceer/genre/">Songs by genres</a>
          <a class="dropdown-item" href="/juceer/year/">Songs by year</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Your page</a>
      </li>
    </ul>
    <form class="form-inline my-8 my-lg-0" action = "/search/">
      <input class="form-control mr-sm-2" type="search" name = "q" placeholder="Search for your artists!" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>